#FirstrowComp1{
    background-color: white;
}

#finance-report{
    display: flex;
    justify-content: space-between;
}

#FirstrowComp1{
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 3px black;
}